

<div class="container" style="background-color: white">
<h1>USER New Create Page</h1>
<%= form_for (@user) do |f|%>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style = " color : red " ><%= error %></p>
    <% end %>
   <% end %>
<div>
    <%= f.label :name%>
    <%=f.text_field :name %><br>
    </div>
<div>
    <%= f.label :age%>
    <%=f.number_field :age%><br>
</div>
    <%=f.submit%><br>

<%end%>
<div class="row justify-content-md-center">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>


</div>