

<div class="container">
    <div class="new_user">
        <div class="row justify-content-md-center">

        <h1>Sign up to ball</h1>
        <%= form_for (@user) do |f|%>

        <% if flash[:errors] %>
            <% flash[:errors].each do |error| %>
                <p class="errors"><%= error %></p>
            <% end %>
        <% end %>
            <div class="col col-md-6">
                <%= f.label :name%><br>
                <%=f.text_field :name %><br>
            </div>
        
            <div class="col col-md-6">
                <%= f.label :age%>
                <%=f.number_field :age%><br>
            </div>
            <div class="col col-lg-2">
                <%=f.submit%><br>
            </div>

        <%end%>
        </div>
    </div>
</div>