<h1><%= @user.name %></h1>

<h5>Age: <%= @user.age %></h5>


<h3><%= @user.name %>'s Games</h3>

<%= link_to "Edit yourself", edit_user_path(@user) %> <br><br>

<%= form_for(@user, :method => :delete, :remote => true) do |f| %>
<%= f.submit :value => "Delete User" %>
<% end %>

<p><%= link_to "View Other Players", users_path %> </p>
<br><br>
