<h1>Add Players to Game</h1>

<%= form_for @player_game do |f| %>
    <%= f.label :game_id %>
    <%= f.collection_select :game_id, @game, :id, :name %>

    <br><br>

    <%= f.label :player_id %>
    <%= f.collection_select :player_id, @users, :id, :name %>

    <br><br>

    <%= f.submit "Add Player" %> 

<% end %>

