<h1>Games New Create Page</h1>


<%= form_for (@game) do |f|%>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style = " color : red " ><%= error %></p>
    <% end %>
   <% end %>

    <%= f.label :name %>
    <%=f.text_field :name %><br>

     <%= f.label :host_id %> 
    <%= f.collection_select :host_id, @users, :id, :name %><br>

    <%= f.label :court_id %>
    <%= f.collection_select :court_id, @courts, :id, :name %><br>
 
    <%= f.label :date %>
    <%=f.text_field :date %><br>
    
    <%= f.label :time %>
     <%=f.number_field :time%><br>

    <%= f.label :player_count %>
    <%=f.number_field :player_count%><br>

    <%=f.submit%><br>
<%end%>


