
<div class="container">

<div class="row">
    <div class="col-md-12">
    <h2>Host Your Own Game</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <%= form_for (@game) do |f|%>
            <% if flash[:errors] %>
            <% flash[:errors].each do |error| %>
            <p class="errors" ><%= error %></p>
            <% end %>
        <% end %>

        <%= f.label :name %><br>
        <%=f.text_field :name %>

    </div>

    <div class="col-md-6">

        <%= f.label :host_id %> <br>
        <%= f.collection_select :host_id, @users, :id, :name %>

    </div>

</div>
<div class="row">

    <div class="col-md-6">
        <%= f.label :court_id %><br>
        <%= f.collection_select :court_id, @courts, :id, :name %>
    </div>
   
    <div class="col-md-6">
        <%= f.label :date %><br>
        <%=f.date_field :date %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= f.label :time %><br>
        <%= f.time_select :time, {discard_minute: false, ampm: true} %>
    </div>

    <div class="col-md-6">
        <%= f.label :player_count %><br>
        <%=f.number_field :player_count%>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <%=f.submit%>
    </div>
</div>
    <%end%>

</div>


