<h1><%= @game.name %></h1>

<br><br>

<p>Played at  <%= @game.court.name %> located <%= @game.court.location %> </p>

<br><br>

<p>Playing on <%= @game.clean_date %> at <%= @game.time %> </p>

<br><br>

<p>This Game is looking for <%= @game.player_count %> players</p>

<h3>Players:</h3> 

<% @player_games.each do |player_game| %>
    <ul>
        <li><%= player_game.player.name %></li>
    </ul>
<% end %>
<%= link_to "Add Players", new_player_game_path %> <br><br>

<%= link_to "Edit This Game", edit_game_path(@game) %> <br><br>

 
<%= form_for(@game, :method => :delete, :remote => true) do |f| %>
<%= f.submit :value => "Delete Game" %>
<% end %>
<br><br>



<%= button_to "Check Out Other Games", games_path %>
