<h1></h1>

<p>Hosted By: <%= link_to @game.user.name, user_path(@game.user) %> </p>

<br><br>

<p>Played at  <%= @game.court.name %> located <%= @game.court.location %> </p>

<br><br>

<p>Playing on <%= @game.date.to_s %> at <%= @game.time %> </p>

<br><br>

<p>This Game is looking for <%= @game.player_count %> players</p>



<%= link_to "Edit This Game", edit_game_path(@game) %> <br><br>

 
<%= form_for(@game, :method => :delete, :remote => true) do |f| %>
<%= f.submit :value => "Delete Game" %>
<% end %>
<br><br>

<%= button_to "Add Players", new_player_game_path%> <br><br>

<%= button_to "Check Out Other Games", games_path %>
