<h1></h1>

<p>Hosted By: <%= link_to @game.user.name, user_path(@game.user) %> </p>

<br><br>

<p>Played at  <%= @game.court.name %> located <%= @game.court.location %> </p>

<br><br>

<p>Playing on <%= @game.date %> at <%= @game.time %> </p>

<br><br>

<p>Players</p>

    <!-- <%= @player_game.user %> -->
    <!-- Need to create a method of listing all the 
    players that sign up for this game through player_game model -->



<%= link_to "Join Game", new_player_game_path%> <br><br>

<%= link_to "Check Out Other Games", games_path %>
