
<div class="container">
<h1><%= @game.name %></h1>

<br><br>

<p>Playing at  <%= @game.court.name %> located <%= @game.court.location %> </p>

<br><br>

<p>Playing on <%= @game.clean_date %> at <%= @game.clean_time %> </p>

<br><br>

<p>This Game needs <%= @game.player_count %> players</p>

<p>This Game has <%= @game.pg_count %> players</p>

<p>This Game is looking for <%= @game.players_left%> more players</p>



<h3>Players:</h3> 
    <ul>
        <li><%= link_to @game.user.name, user_path(@game.user) %>
        <!--<% @player_games.each do |player_game| %>
            
                
                <li><%= link_to player_game.player.name, user_path(player_game.player) %></li>
            
        <% end %>-->
    </ul>

<%= link_to "Add Players", new_player_game_path %> <br><br>

<%= link_to "Edit This Game", edit_game_path(@game) %> <br><br>

 
<%= form_for(@game, :method => :delete, :remote => true) do |f| %>
<%= f.submit :value => "Delete Game" %>
<% end %>
<br><br>






<%= link_to "Check Out Other Games", games_path %>
</div>