<!DOCTYPE html>
<html>
  <head>
    <title>Jcourts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=Varela+Round&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <%= render "shared/nav" %>
  <div class="bg"></div>
  

    <%= yield %>
  </body>
</html>
